
.logo {
  margin-top: 6px;
  margin-left: 10px;
  width: 55px;
  float: left;
  border-radius:50%;
}
.username {
  float: right;
}
.nav-ul li{
  display: inline-block;
  padding: 10px;
}
.nav-ul {
  margin: 0px;
  padding: 5px;
  background-color: #3b71ca;
}
.nav-ul li a {
  text-decoration: none;
  color: white;
  padding: 5px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #3b71ca;
  padding-top: 10px;
}
.footer h3 {
  text-align: center;
  color: white;
  font-size: 14px;
}
.form-outline .form-control{
  padding-top :0.55em;
  padding-left:3em;
  padding-right:3em;

}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}
.form-check {
  padding-right: 10px;
}
.forgot-password{
  padding-left: 10px;
}
li.login-signup a {
  padding: 15px !important;
}
.nav-right{
  text-align: right;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
